<h2 class="mt-2">Create Contact</h2>
<% if (message.length) { %>
<div class="alert alert-warning" role="alert">
    <ul>
        <% message.forEach(dataError => { %>
        <li><%= dataError.message %></li>
        <% }) %>
    </ul>
</div>
<% } %>
<form action="/contact/store" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nama</label>
        <input type="text" name="namakontak" class="form-control" id="exampleFormControlInput1"
            <% if (datalama.length) {%> value="<%= datalama[0].name %>" <% } %> required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
            placeholder="name@example.com" <% if (datalama.length) {%> value="<%= datalama[0].email %>" <% } %>>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nomor HP</label>
        <input type="text" name="nomorhp" class="form-control" id="exampleFormControlInput1" <% if (datalama.length) {%>
            value="<%= datalama[0].mobile %>" <% } %> required>
    </div>
    <input type="submit" class="btn btn-primary">
</form>