<div class="container">
    <div class="card">

        <!-- Pemanggilan gambar hanya perlu memanggil dari images saja, karena express telah mengatur
directory static yang telah diberikan akses agar dapat diakses oleh client(browser) -->
        <img src="images/ripki.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rifqi Subagja</h5>
            <p class="card-text">Saya peserta bootcamp dari Universitas Pendidikan Indonesia dengan jurusan Pendidikan
                Ilmu Komputer.</p>
            <a href="/contact" class="btn btn-primary">Contact</a>
        </div>
    </div>
</div>